@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/global" as *;


.quiz {
    padding: 1rem 2rem;

    &__container {
        height: 232px;
        flex-shrink: 0;
        border: none;
        border-radius: 20px;
        cursor: pointer;
        position: relative;
    }

    &__title {
        font-weight: 700;
        font-size: 3.5rem;
        color: $blue;
        margin: 1rem;
        margin-top: 0.5rem;

        @include tablet {
            font-size: 4rem;
        }
    }

    &__subtitle {
        @include subtitle;
        color: $white;
        font-size: 1.25rem;
        margin-bottom: 0;

        @include desktop {
            font-size: 1.5rem;
        }
    }

    &__text {
        @include text;
        font-size: 1rem;
        color: $white;
        margin: 0 0.75rem;
        margin-left: 0.5rem;

        @include desktop {
            font-size: 1.25rem;
        }
    }

    &__questions {
        @include text;
        color: $white;
        margin: 0.5rem;
        margin-left: 0.5rem;

        @include desktop {
            font-size: 1.2rem;
        }
    }

    &__button {
        @include button-details-mobile;
        font-size: 0.75rem;
        margin: 1.5rem;
        position: absolute;
        bottom: 0;
        left: 0;
    }

    &__icon {
        margin: 1.5rem;
        position: absolute;
        bottom: 0;
        right: 0;
    }
}