@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;


.quiz {
    &__container {
        // background-image: url("../../assets/images/card.svg");
        // background-repeat: none;
        // background-position: center;
        // background-size: cover;
        // background-size: 360px 232px;
height: 232px;
flex-shrink: 0;
border: none;
border-radius: 20px;

    }

&__button {
    @include button-details-mobile;    
}
    }

