@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;

.field {
    display: flex;
    flex-direction: column;

    &__label {
        margin-bottom: 0.25rem;
        @include text;
        color: $black;
        margin-top: 0.5rem;
    }

    &__input {
        @include input;
    }
}

.error {
    outline: none;
    border: 1px solid $red;
}
