@use './variables' as *;

@mixin mobile {
    @media screen and (min-width: $mobile-breakpoint) {
        @content;
    }
}

@mixin tablet {
    @media screen and (min-width: $tablet-breakpoint) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: $desktop-breakpoint) {
        @content;
    }
}

@mixin button {
    width: 5rem;
    height: 2.5rem;
    flex-shrink: 0;
    color: white;
    border-radius: 25px;
    border: 1px solid $border-color;
    background-color: $gray;
    font-size: 0.675rem;
}

@mixin button-details-mobile {
    @include button;
    background-image: url("../../assets/images/details.svg");
    background-size: 0.75rem;
    background-position: 3.66rem 0.75rem;
    background-repeat: no-repeat;
    padding-right: 1rem;
    padding-left: 0;
}

@mixin card {
    background-image: url("../../assets//images/card-blue.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    flex-shrink: 0;
}

@mixin subtitle {
    color: $white;
    padding: 0.5rem;
    font-size: 2rem;
}

@mixin text {
    font-size: 1rem;
    letter-spacing: 0.05rem;
    column: $white;
}