@use './variables' as *;

@mixin mobile {
    @media screen and (min-width: $mobile-breakpoint) {
        @content;
    }
}

@mixin tablet {
    @media screen and (min-width: $tablet-breakpoint) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: $desktop-breakpoint) {
        @content;
    }
}

@mixin button {
    width: 5rem;
    height: 2.5rem;
    flex-shrink: 0;
    color: white;
    border-radius: 25px;
    border: 1px solid $border-color;
    background-color: $gray;
    font-size: 0.675rem;
}

@mixin button-details-mobile {
    @include button;
    background-image: url("../../assets/images/details.svg");
    background-size: 0.75rem;
    background-position: 3.66rem 0.75rem;
    background-repeat: no-repeat;
    padding-right: 1rem;
    padding-left: 0;
}

@mixin card {
    background-image: url("../../assets//images/card-blue.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    flex-shrink: 0;
}

@mixin subtitle {
    padding: 0.5rem;
    font-size: 2rem;
}

@mixin text {
    font-size: 1rem;
    letter-spacing: 0.05rem;
    column: $white;
}

@mixin input {
    height: 36px;
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 20px;
    border: 1px rgba(78, 78, 78, 0.75) solid;
    outline: none;

    &:focus {
        border: 1px $blue solid;
    }

    &::placeholder {
        @include text;
        font-weight: 400;
        color: $border-color;
        opacity: 50%;
    }
}

@mixin error {
    display: flex;
    margin: 0 !important;
    padding: 0 1.25rem !important;
    color: $error-red;
    padding: 0.75rem;
    margin-top: 1rem;
    background-image: url("../../assets/icons/error-24px.svg");
    background-repeat: no-repeat;
    background-size: 1rem;
    background-position: 0px;
}

@mixin container {
    width: 90%;
    padding: 20px;
    margin: 1rem 0;
    background-color: $white;
    border-radius: 10px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
    border: 1px solid $box-shadow;
}