
// Screen-Breakpoints 

$mobile-breakpoint: 320px;

$tablet-breakpoint: 768px;

$desktop-breakpoint: 1280px;

// Colors 

$red: #F5001E;

$blue: #5424FD;

$yellow: #FCC636;

$black: #0000;

$white: #FFF;

$gray: #2B2B2B;

$border-color: #4E4E4E;

