.form {
    width: 50%;
    margin: auto;

    &__title {
        text-align: center;
    }

    &__button {
        margin-top: 1rem;
        background-color: #1358db;
        border: 1px solid #1358db;
        color: #fff;
        border-radius: 0.5rem;
        padding: 0.5rem;
        font-size: inherit;
        cursor: pointer;
        transition: background-color 0.15s;
        width: 30%;

        &:hover {
            background-color: #003fc2;
        }
    }

    &__error {
        color: #c94515;
        padding: 0.75rem;
        margin-top: 1rem;
        padding-left: 1.25rem;
        background-image: url("../../assets/icons/error-24px.svg");
        background-repeat: no-repeat;
        background-size: 1rem;
        background-position: 0px;
    }

}