@use "./styles/partials/global";
@use "./styles/partials/typography";

body {
  font-family: "Lordina", sans-serif !important;
  position: relative;
  height: 100vh;
}

.dark-mode {
  background-color: #000; 
  color: #fff; 
}

