@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;

.home {

    margin: 1rem auto;

    &__title {
        font-weight: 700;
        letter-spacing: 0.1rem;
        font-size: 3rem;
        display: flex;
        flex-direction: column;

        @include tablet {
            flex-direction: row;
            justify-content: center;
            margin: 2rem;
        }
    }

    &__create {
        color: $red;
    }

    &__play {
        color: $blue;
    }

    &__run {
        color: $yellow;
    }

    &__container {
        display: flex;
        width: 320px;
        height: 232px;
        margin: auto;
        border: none;

        @include tablet {
            margin: 1rem;
        }
    }

    &__card {
        @include card;
        position: relative;
        overflow: hidden;
        cursor: pointer;
        margin-bottom: 1rem;
        padding: 0 !important;

        &--red {
            background-image: url("../../assets//images/card-red.svg");
        }
    }

    &__subtitle {
        @include subtitle;
        color: $white;
        padding: 1.5rem;
        padding-bottom: 0;
    }

    &__descrip {
        color: $white;
        @include text;
        padding: 0 1rem;
    }

    &__button {
        @include button-details-mobile;
        position: absolute;
        top: 8%;
        right: 0;
    }

    &__body {

        @include tablet {
            display: flex;
            justify-content: center;
        }
    }
}