@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;

.play {
    display: flex;
    justify-content: center;

    &__container {
        @include container;
        display: flex;
        flex-direction: column;
        padding: 1.5rem;

        @include tablet {
            width: 75%;
            padding: 2rem 2.5rem;
        }

        @include desktop {
            width: 50%;
        }

    }

    &__icons-container {
        display: flex;
        justify-content: flex-end;
    }

    &__icon {
        margin-left: 0.75rem;
    }

    &__back {
        position: absolute; 
        top: 2%; 
        left: 6%;

        @include tablet {
            top: 3.5%;
        }
    }

    &__title {
        @include subtitle;
        padding: 0;
        margin: 1rem 0;
        margin-top: 1.5rem;
        font-size: 2.25rem;

        @include tablet {
            font-size: 3rem;
        }
    }

    &__card {
        padding: 1rem;
    }

    &__subtitle {
        margin: 1rem 0;
        margin-top: 0;
    }

    &__icon {
        height: 2rem;
        width: 2rem;
        position: absolute;
        top: 0;
        right: 0;
        margin: 2rem;
    }

    &__text {
        @include text;
        margin: 0.5rem 0;
        margin-bottom: 0;
        font-weight: 500;
        font-size: 1.25rem;

        @include tablet {
            font-size: 1.5rem;
        }
    }

    &__box {
        display: flex;
        flex-wrap: wrap;
    }

    &__answers {
        width: 50%;
    }

    &__answers-button {
        @include button;
        width: 100%;
        font-size: 0.875rem;
        letter-spacing: 0.05rem;
        border: none;
    }

    &__button-container {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

        @include tablet {
            justify-content: center;
            margin: 2rem 0;
        }
    }

    &__button-box {
        display: flex;
        justify-content: center;
    }

    &__button {
        @include button;
        margin: 0 0.5rem;
        margin-bottom: 0.75rem;
        width: 7rem;
        background-color: $blue;
        font-size: 0.88rem;
        border: none; 
    }

    &__feedback {
        @include text;
        font-weight: 500;
        color: $blue;
        letter-spacing: 0.1rem;
        font-size: 1rem;
        margin: 0;
        margin-left: 1rem;

        &--red {
            color: $red;
        }
    }

    &__score {
        margin-left: 1rem;
    }
}
